
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #35a2d1;
    width:50%;
    margin:auto;
}

main{
    background-color:#f8f8f8;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #555;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #777;
}

section {
    padding: 20px;
}

#COMP213 {
    border:1px solid black;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    bottom: 0;
    width: 100%;
}